.left-menu{
    width: 280px;
    height: 100%;
    min-height: 100vh;
    background: rgba(34, 34, 34, 0.6);
    backdrop-filter: blur(10px);
    padding: 20px 15px;
    overflow: hidden;
    transition: all 0.3 ease;
}
.left-menu .logo-container{
    color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left-menu .logo-container i{
    font-size: 30px;
}
.left-menu .logo-container i:nth-child(3){
    font-size: 20px ;
}
.left-menu .logo-container h2{
    font-size: 20px;
}
.search-box{
    width: 100%;
    height: 45px;
    position: relative;
    margin-top: 20px;
    color: #848484;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}
.search-box input{
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    background: rgba(0, 0, 0, 0.5);
    padding-left: 45px;
    color: #f1f1f1;
    font-size: 14px;
    font-weight: bold;
    display: block;
}
.search-box .search-icon{
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    font-size: 20px;
    position: absolute;
    color: #848484;
    top: 0;
    left: 0; 
}
.menu-container{
    margin: 15px 0;
}
.menu-container .title{
    color: #848484;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.menu-container ul{
    width: 100%;
    padding: 0;
}
.menu-container ul li{
    list-style: none;
    margin: 5px 0px;
    width: 100%;
    padding: 5px 0px;
    position: relative;
}
.menu-container ul li a{
    text-decoration: none;
    color: #848484;
    display: flex;
    align-items: center;
    font-size: 18px;
}
.menu-container ul li a i{
    margin-right: 15px;
}
.menu-container ul li::before{
    position: absolute;
    content: "";
    top:0;
    width: 0px;
    height: 100%;
    background: #49e12e;
    border-radius: 5px;
    left: -15px;
}
.menu-container ul li:hover::before,.menu-container ul li:active::before
{
    width: 5px;
    transition: 0.3s;
}
.menu-container ul li:hover a,.menu-container ul li:active a{
    color: #f1f1f1;
    transition: 0.3s;
}
